

<br /><br /><br /><br /><br />
<h3>API Name: PostCommonInfo</h3><br />


Url:
<h3>api/WeddingAPI/PostCommonInfo</h3><br />

Json:
<p>{"AboutUs":"", "Address":"", "AttendCount": , "BrideFullName": "", "BridemaidsContent": "", "BridesmaidCount": , "ContactInfo": "", "CoupleInfo": "", "GiftRegistryContent": "", "GoogleMapAddress": "", "GroomFullName": "", "GroomsmenContent": "", "GroomsmenCount": , "GuestCount": , "WeddingDate":   }</p>
