
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/scripts/WeddingApp.js"></script>
    <script src="~/scripts/jquery-1.7.1.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie9.css" />
    <![endif]-->
        
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Favicons Icon -->
    <link rel="icon" href="../../images/couple.png" type="image/x-icon" style="width:25px;height:25px;" />
	
    <title>Sakina-Weds-Juzar!</title>
    
    <!-- CSS Styles -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <link rel="stylesheet" type="text/css" href="css/rotating.css" />
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="css/swipebox.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.theme.css" />
    <link rel="stylesheet" type="text/css" href="css/jcf.css" />
    <link rel="stylesheet" type="text/css" href="css/slider.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700|Open+Sans:300,400,700|Abel' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css' />   
    <link href="http://fonts.googleapis.com/css?family=Engagement" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800' rel='stylesheet' type='text/css' />

    <link href="~/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body class="cms_index" ng-app="MyModule">
    <!-- content_wrapper start -->
	@RenderBody()
    <!-- content_wrapper End -->
    
    <!-- Footer Start-->

    @if (!Request.Url.ToString().ToLower().Contains("apihelper"))
    {
    <footer>
        <div class="container">
            <div class="row">            
                <div class="col-md-12">            
                    @*<img src="images/couple.png" alt="Couple Icon" class="img-responsive" data-scroll-reveal="enter top move 35px, after 0.4s" />*@                
                    <div class="col-lg-4 col-md-5" data-scroll-reveal="enter left move 35px, after 0.4s">
                    	<div class="contact-inf">
                            <h5 class="subtitle">Contact us</h5>
                            <form class="frmContact" action="">
                                <input type="hidden" value="support@pixxett.com" name="emailTo" />
                                <input type="text" placeholder="Your Name..." value="" id="txtName" name="txtName" required />
                                <input type="text" placeholder="Your Email Address..." value="" id="txtEmail" name="txtEmail" required />
                                <textarea placeholder="Your Message..." id="txtText" name="txtText" required></textarea>
                                <button class="btnSend" type="submit">Send Message</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-5 pull-right" data-scroll-reveal="enter right move 35px, after 0.4s">
                    	@{Html.RenderAction("AboutUsFooter", "Wedding"); }
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row mr_none">
            <p class="copyright" data-scroll-reveal="enter top move 5px, after 0.1s">&copy; 2016. All Rights Reserved. Designed by <a href="#" target="_blank">Juzar Noorani</a></p>
        </div>
    </footer>
    }
    <!-- End Footer -->    
    
    <!-- JavaScript -->
	<script type="text/javascript" src="js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jcf.js"></script>
    <script type="text/javascript" src="js/jcf_select.js"></script>
    <script type="text/javascript" src="js/modernizr.custom.js"></script>
    <script type="text/javascript" src="js/jquery.swipebox.js"></script>
    <script type="text/javascript" src="js/smooth-scroll.js"></script>    
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/scrollReveal.js"></script>
    <script type="text/javascript" src="js/jquery.backstretch.js"></script>
    <script type="text/javascript" src="js/jquery.simple-text-rotator.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="js/jquery.lettering.js"></script>
    <script type="text/javascript" src="js/jquery.firefly-0.3.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/along.js"></script>
	<script type="text/javascript" src="js/jquery-plugin-collection.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    
    <script type="text/javascript" src="js/minpace.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="js/jquery.points.min.js"></script>
    <script type="text/javascript" src="js/slidermin.min.js"></script>
    <script type="text/javascript" src="js/main-slider-fade.js"></script>
    
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="js/js-functions.js"></script>
	<script type="text/javascript" src="js/cross-browser.js"></script>
        
</body>
</html>