<script src="~/scripts/jquery-1.7.1.min.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>

<div ng-controller="postController">
    <form class="form-horizontal" role="form" ng-submit="submitForm()">
        <div id="div1">

            <h3 class="bg-success" role="alert" id="topMessage">{{message}}</h3>
            <h3 class="bg-danger" role="alert">{{errorName}}</h3>
            <h4 class="control-label">Main Slider Information</h4>
            <span class="alert alert-danger" id="MainSliderImageErr" style="display:none"></span>
            <span class="alert alert-success" id="MainSliderSuccess" style="display:none"></span>
            <div class="form-group">
                <label class="control-label col-sm-2" for="BrideName">LeadName:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="BrideName" id="BrideName" placeholder="Enter BrideName" ng-model="BrideFullName">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="GroomName">Opp Lead Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="GroomName" id="GroomName" placeholder="Enter GroomName" ng-model="GroomFullName">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="WeddingDate">Launch Date:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="WeddingDate" id="WeddingDate" placeholder="Enter Wedding Date('yyyy-mm-dd')" ng-model="StringWeddingDate">
                </div>
            </div>

            
            <div class="form-group" ng-controller="EntityImageController">
                <div class="col-sm-10" ng-repeat="images in EntityMainSliderImages">
                    <div class="col-sm-12" style="border:1px solid #ccc;" id="image{{images.EntityImageID}}">
                        <i class="fa fa-times fa-3x" aria-hidden="true" style="color:red;" ng-click="deleteThis(images.EntityImageID)"></i>
                        <img src="{{images.Url}}" alt="{{images.EntityImageID}}" class="img-responsive" />
                        <h3 class="bg-success" id="alert{{images.EntityImageID}}"></h3>
                    </div><br /><br />
                    
                </div>

            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="MainSlider">Upload Image:</label>
                <div class="col-sm-10">
                    <input type="file" id="files-MainSlider" name="files[]" class="form-control" multiple />

                    <output id="list-MainSlider"></output>
                    <br />
                    <span class="alert alert-danger" id="MainSliderImageErr" style="display:none"></span>
                    <span class="alert alert-success" id="MainSliderSuccess" style="display:none"></span>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div>
            <h4 class="control-label">Couple Introduction</h4>
            <span class="alert alert-danger" id="coupleImageErr" style="display:none"></span>
            <span class="alert alert-success" id="coupleImageSuccess" style="display:none"></span>
            <div class="form-group">
                <label class="control-label col-sm-2" for="CoupleInfo">Couple Information:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="CoupleInfo" id="CoupleInfo" placeholder="Enter Couple Information" ng-model="CoupleInfo"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="coupleImage">Upload Image:</label>
                <div class="col-sm-10">
                    <input type="file" id="files-coupleImage" name="files[]" class="form-control" />

                    <output id="list-coupleImage"></output>
                    <br />
                    <span class="alert alert-danger" id="coupleImageErr" style="display:none"></span>
                    <span class="alert alert-success" id="coupleImageSuccess" style="display:none"></span>
                </div>
            </div>



        </div>

        <br />
        <br />
        <div>
            <h4 class="control-label">Our Moments: Upload New Images</h4>

            <span class="alert alert-danger" id="OurMemoriesErr" style="display:none"></span>
            <span class="alert alert-success" id="OurMemoriesSuccess" style="display:none"></span>
            <div class="form-group" ng-controller="EntityImageController">
                <div class="col-sm-10" ng-repeat="images in EntityOurMemoriesImages">
                    <div class="col-sm-12" style="border:1px solid #ccc;">
                        <i class="fa fa-times fa-3x" aria-hidden="true" style="color:red;" ng-click="deleteThis(images.EntityImageID)"></i>
                        <img src="{{images.Url}}" alt="{{images.EntityImageID}}" class="img-responsive"/>
                        <span class="alert alert-success" id="alert{{images.EntityImageID}}" style="display:none;"></span>
                    </div><br /><br />

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="OurMemories">Upload Images:</label>
                <div class="col-sm-10">
                    <input type="file" id="files-OurMemories" name="files[]" class="form-control" multiple />

                    <output id="list-OurMemories"></output>
                    <br />
                    <span class="alert alert-danger" id="OurMemoriesErr" style="display:none"></span>
                    <span class="alert alert-success" id="OurMemoriesSuccess" style="display:none"></span>
                </div>
            </div>



        </div>

        <br />
        <br />
        <div>
            <h4 class="control-label">Actresses Section</h4>


            <span class="alert alert-danger" id="BridesmaidsImagesErr" style="display:none"></span>
            <span class="alert alert-success" id="BridesmaidsImagesSuccess" style="display:none"></span>
            <div class="form-group">
                <label class="control-label col-sm-2" for="BridemaidsContent">Actresses Content:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="BridemaidsContent" id="BridemaidsContent" placeholder="Enter Bridemaids Content" ng-model="BridemaidsContent"></textarea>
                </div>
            </div>

            <div class="form-group" ng-controller="EntityImageController">
                <div class="col-sm-6" ng-repeat="images in EntityBridesmaidImages">
                    <div class="col-sm-12" style="border:1px solid #ccc;">
                        <i class="fa fa-times fa-3x" aria-hidden="true" style="color:red;" ng-click="deleteThis(images.EntityImageID)"></i>
                        <img src="{{images.thumbnail}}" alt="{{images.EntityImageID}}" class="img-responsive"/>
                        <span class="alert alert-success" id="alert{{images.EntityImageID}}" style="display:none;"></span>
                    </div><br /><br />

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="BridesmaidsImages">Upload New Actresses Images:</label>
                <div class="col-sm-10">
                    <input type="file" id="files-BridesmaidsImages" name="files[]" class="form-control" multiple />

                    <output id="list-BridesmaidsImages"></output>
                    <br />
                    <span class="alert alert-danger" id="BridesmaidsImagesErr" style="display:none"></span>
                    <span class="alert alert-success" id="BridesmaidsImagesSuccess" style="display:none"></span>
                </div>
            </div>




        </div>

        <br />
        <br />
        <div>
            <h4 class="control-label">Actors Section</h4>

            <span class="alert alert-danger" id="GroomsmensImagesErr" style="display:none"></span>
            <span class="alert alert-success" id="GroomsmensImagesSuccess" style="display:none"></span>
            <div class="form-group">
                <label class="control-label col-sm-2" for="BridemaidsContent">Actors Content:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="GroomsmenContent" id="GroomsmenContent" placeholder="Enter Groomsmen Content" ng-model="GroomsmenContent"></textarea>
                </div>
            </div>


            <div class="form-group" ng-controller="EntityImageController">
                <div class="col-sm-6" ng-repeat="images in EntityGroomsmenImages">
                    <div class="col-sm-12" style="border:1px solid #ccc;">
                        <i class="fa fa-times fa-3x" aria-hidden="true" style="color:red;" ng-click="deleteThis(images.EntityImageID)"></i>
                        <img src="{{images.thumbnail}}" alt="{{images.EntityImageID}}" class="img-responsive" />
                        <span class="alert alert-success" id="alert{{images.EntityImageID}}" style="display:none;"></span>
                    </div><br /><br />

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="GroomsmensImages">Upload New Actors Images:</label>
                <div class="col-sm-10">
                    <input type="file" id="files-GroomsmensImages" name="files[]" class="form-control" multiple />

                    <output id="list-GroomsmensImages"></output>
                    <br />
                    <span class="alert alert-danger" id="GroomsmensImagesErr" style="display:none"></span>
                    <span class="alert alert-success" id="GroomsmensImagesSuccess" style="display:none"></span>
                </div>
            </div>


        </div>


        <br />
        <br />
        <div>
            <h4 class="control-label">GiftRegistry Section</h4>



            <div class="form-group">
                <label class="control-label col-sm-2" for="GiftRegistryContent">GiftRegistry Content:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="GiftRegistryContent" id="GiftRegistryContent" placeholder="Enter GiftRegistry Content" ng-model="GiftRegistryContent"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="GiftRegistryImage">Upload GiftRegistry Image:</label>
                <div class="col-sm-10">
                    <input type="file" id="files-GiftRegistryImage" name="files[]" class="form-control" />

                    <output id="list-GiftRegistryImage"></output>
                    <br />
                    <span class="alert alert-danger" id="GiftRegistryImageErr" style="display:none"></span>
                </div>
            </div>


        </div>


        <br />
        <br />
        <div>
            <h4 class="control-label">Locational Info Section</h4>

            

            <div class="form-group">
                <label class="control-label col-sm-2" for="Address">Address:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="Address" id="Address" placeholder="Enter Address" ng-model="Address"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="ContactInfo">Contact Info:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="ContactInfo" id="ContactInfo" placeholder="Enter Contact Info" ng-model="ContactInfo"></textarea>
                </div>
            </div>
            <input type="button" onclick="updateInfo()" value="update info" />
            <div class="form-group">
                <label class="control-label col-sm-2" for="GoogleMapAddress">GoogleMap address Info:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="GoogleMapAddress" id="GoogleMapAddress" placeholder="Enter Google recognisable address" ng-model="GoogleMapAddress"></textarea>
                </div>
            </div>

        </div>


        <br />
        <br />
        <div>
            <h4 class="control-label">Additional Counts Section</h4>

            <div class="form-group">
                <label class="control-label col-sm-2" for="GuestCount">Guest Count:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="GuestCount" id="GuestCount" placeholder="Enter Guest Count" ng-model="GuestCount" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="AttendCount">Attend Count:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="AttendCount" id="AttendCount" placeholder="Enter Attend Count" ng-model="AttendCount" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="BridesmaidCount">Actresses Count:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="BridesmaidCount" id="BridesmaidCount" placeholder="Enter Bridesmaid Count" ng-model="BridesmaidCount" />
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2" for="GroomsmenCount">Actors Count:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="GroomsmenCount" id="GroomsmenCount" placeholder="Enter Groomsmen Count" ng-model="GroomsmenCount" />
                </div>
            </div>


        </div>
        <br />
        <br />

        <div>
            <h4 class="control-label">Footer AboutUS Section</h4>

            <div class="form-group">
                <label class="control-label col-sm-2" for="AboutUs">Enter About Us:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="AboutUs" id="AboutUs" placeholder="Enter About Us" ng-model="AboutUs"></textarea>
                </div>
            </div>

        </div>
        <h3 class="bg-success" role="alert" id="topMessage">{{message}}</h3>
        <h3 class="bg-danger" role="alert">{{errorName}}</h3>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" id="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
<script>
    //function updateInfo()
    //{
    //    var item = CKEDITOR.instances["Address"].getData();
    //        console.log("This is on Jquery event "+item);
    //        var controllerElement = document.querySelector('[ng-controller="postController"]');
    //        var controllerScope = angular.element(controllerElement).scope();
    //        controllerScope.Address = item;
    //}
    $('#submit').click(function () {
        var addr = CKEDITOR.instances["Address"].getData(); 
        var contact = CKEDITOR.instances["ContactInfo"].getData();
        
        var controllerElement = document.querySelector('[ng-controller="postController"]');
        var controllerScope = angular.element(controllerElement).scope();
        controllerScope.Address = addr;
        controllerScope.ContactInfo = contact;
        console.log("This is on Jquery event " + controllerScope.Address);
        console.log("This is on Jquery event " + controllerScope.ContactInfo);
    });
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('Address');
    CKEDITOR.replace('ContactInfo');

    $("#Address").focusout(function () {

        //var controllerElement = document.querySelector('[ng-controller="postController"]');
        //var controllerScope = angular.element(controllerElement).scope();
        //controllerScope.Address = data.Address;
        console.log('address focus out');
    });
   
    if (window.File && window.FileReader && window.FileList && window.Blob) {
        console.log("Great success! All the File APIs are supported.")
    } else {
        alert('The File APIs are not fully supported in this browser.');
    }

    function handleMainSlider(evt) {
        //console.log(evt);
        var files = evt.target.files; // FileList object
        if ($("#MainSliderImageErr").css('display') == 'block') {
            $("#MainSliderImageErr").css('display', 'none');
        }
        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {

            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    var ext = theFile.name.substring(theFile.name.lastIndexOf('.'));
                    var span = document.createElement('span');
                    if (ext == ".jpg") {
                        span.innerHTML = ['<br /><img class="img-responsive" src="', e.target.result,
                                          '" title="', escape(theFile.name), '"/><br /><br />'].join('');
                        span.innerHTML += ['<h5 class="alert alert-success">This file has been Uploaded Successfully!</h5>'].join('');
                    }
                    else {
                        span.innerHTML = ['<br /><br /><h4 class="alert alert-danger">This file cannot be uploaded as it is not in .jpg format</h4>'].join('');
                    }
                    //console.log("dataurl" + e.target.result);


                    dataUrl(e.target.result, ext, "6");
                    document.getElementById('list-MainSlider').insertBefore(span, null);
                };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }

    function handlecoupleImage(evt) {
        //console.log(evt);
        if ($("#coupleImageErr").css('display') == 'block') {
            $("#coupleImageErr").css('display', 'none');
        }
        var files = evt.target.files; // FileList object

        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {

            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    var ext = theFile.name.substring(theFile.name.lastIndexOf('.'));
                    var span = document.createElement('span');
                    if (ext == ".jpg") {
                        span.innerHTML = ['<br /><img class="img-responsive" src="', e.target.result,
                                          '" title="', escape(theFile.name), '"/><br />'].join('');
                        span.innerHTML += ['<h5 class="alert alert-success">This file has been Uploaded Successfully!</h5>'].join('');
                    }
                    else {
                        span.innerHTML = ['<br /><br /><h4 class="alert alert-danger">This file cannot be uploaded as it is not in .jpg format</h4>'].join('');
                    }


                    dataUrl(e.target.result, ext, "0couple");
                    document.getElementById('list-coupleImage').insertBefore(span, null);
                };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }

    function handleOurMemoriesImage(evt) {
        //console.log(evt);
        if ($("#OurMemoriesErr").css('display') == 'block') {
            $("#OurMemoriesErr").css('display', 'none');
        }
        var files = evt.target.files; // FileList object

        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {

            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    var ext = theFile.name.substring(theFile.name.lastIndexOf('.'));
                    var span = document.createElement('span');
                    if (ext == ".jpg") {
                        span.innerHTML = ['<br /><img class="img-responsive" src="', e.target.result,
                                          '" title="', escape(theFile.name), '"/><br /><br />'].join('');
                        span.innerHTML += ['<h5 class="alert alert-success">This file has been Uploaded Successfully!</h5>'].join('');
                    }
                    else {
                        span.innerHTML = ['<br /><br /><h4 class="alert alert-danger">This file cannot be uploaded as it is not in .jpg format</h4>'].join('');
                    }


                    dataUrl(e.target.result, ext, "1");
                    document.getElementById('list-OurMemories').insertBefore(span, null);
                };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }


    function handleBridesmaidsImages(evt) {
        //console.log(evt);
        if ($("#BridesmaidsImagesErr").css('display') == 'block') {
            $("#BridesmaidsImagesErr").css('display', 'none');
        }
        var files = evt.target.files; // FileList object

        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {

            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    var ext = theFile.name.substring(theFile.name.lastIndexOf('.'));
                    var span = document.createElement('span');
                    if (ext == ".jpg") {
                        span.innerHTML = ['<br /><img class="img-responsive" src="', e.target.result,
                                          '" title="', escape(theFile.name), '"/><br /><br />'].join('');
                        span.innerHTML += ['<h5 class="alert alert-success">This file has been Uploaded Successfully!</h5>'].join('');
                    }
                    else {
                        span.innerHTML = ['<br /><br /><h4 class="alert alert-danger">This file cannot be uploaded as it is not in .jpg format</h4>'].join('');
                    }

                    dataUrl(e.target.result, ext, "4");
                    document.getElementById('list-BridesmaidsImages').insertBefore(span, null);
                };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }
    function handleGroomsmensImages(evt) {
        //console.log(evt);
        if ($("#GroomsmensImagesErr").css('display') == 'block') {
            $("#GroomsmensImagesErr").css('display', 'none');
        }
        var files = evt.target.files; // FileList object

        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {

            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    var ext = theFile.name.substring(theFile.name.lastIndexOf('.'));
                    var span = document.createElement('span');
                    if (ext == ".jpg") {
                        span.innerHTML = ['<br /><img class="img-responsive" src="', e.target.result,
                                          '" title="', escape(theFile.name), '"/><br /><br />'].join('');
                        span.innerHTML += ['<h5 class="alert alert-success">This file has been Uploaded Successfully!</h5>'].join('');
                    }
                    else {
                        span.innerHTML = ['<br /><br /><h4 class="alert alert-danger">This file cannot be uploaded as it is not in .jpg format</h4>'].join('');
                    }

                    dataUrl(e.target.result, ext, "5");
                    document.getElementById('list-GroomsmensImages').insertBefore(span, null);
                };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }

    function handleGiftRegistryImage(evt) {
        //console.log(evt);
        if ($("#GiftRegistryImageErr").css('display') == 'block') {
            $("#GiftRegistryImageErr").css('display', 'none');
        }
        var files = evt.target.files; // FileList object

        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {

            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    var ext = theFile.name.substring(theFile.name.lastIndexOf('.'));
                    var span = document.createElement('span');
                    if (ext == ".jpg") {
                        span.innerHTML = ['<br /><img class="img-responsive" src="', e.target.result,
                                          '" title="', escape(theFile.name), '"/><br /><br />'].join('');
                        span.innerHTML += ['<h5 class="alert alert-success">This file has been Uploaded Successfully!</h5>'].join('');
                    }
                    else {
                        span.innerHTML = ['<br /><br /><h4 class="alert alert-danger">This file cannot be uploaded as it is not in .jpg format</h4>'].join('');
                    }

                    dataUrl(e.target.result, ext, "0gift");
                    document.getElementById('list-GiftRegistryImage').insertBefore(span, null);
                };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }
    document.getElementById('files-MainSlider').addEventListener('change', handleMainSlider, false);
    document.getElementById('files-coupleImage').addEventListener('change', handlecoupleImage, false);
    document.getElementById('files-OurMemories').addEventListener('change', handleOurMemoriesImage, false);
    document.getElementById('files-BridesmaidsImages').addEventListener('change', handleBridesmaidsImages, false);
    document.getElementById('files-GroomsmensImages').addEventListener('change', handleGroomsmensImages, false);
    document.getElementById('files-GiftRegistryImage').addEventListener('change', handleGiftRegistryImage, false);


    function dataUrl(dataUrl, ext, section) {
        //console.log("dataUrl fetched" + dataUrl);

        if (ext == ".jpg") {
            dataUrl = dataUrl.replace('data:image/jpeg;base64,', '');
            $.ajax({
                type: 'POST',
                url: "/Wedding/UploadImageForCommonInfo",
                data: '{ "imageData" : "' + dataUrl + '", "section" : "' + section + '"  }',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    //if (section == "6") {
                    //    $("#MainSliderImageSuccess").css('display', 'block');
                    //    $("#MainSliderImageSuccess").html('Image Uploaded Successfully!');
                    //}
                    //else if (section == "0couple") {
                    //    $("#coupleImageSuccess").css('display', 'block');
                    //    $("#coupleImageSuccess").html('Image Uploaded Successfully!');
                    //}
                    //else if (section == "1") {
                    //    $("#OurMemoriesSuccess").css('display', 'block');
                    //    $("#OurMemoriesSuccess").html('Image Uploaded Successfully!');
                    //}
                    //else if (section == "4") {
                    //    $("#BridesmaidsImagesSuccess").css('display', 'block');
                    //    $("#BridesmaidsImagesSuccess").html('Image Uploaded Successfully!');
                    //}
                    //else if (section == "5") {
                    //    $("#GroomsmensImagesSuccess").css('display', 'block');
                    //    $("#GroomsmensImagesSuccess").html('Image Uploaded Successfully!');
                    //} else if (section == "0gift") {
                    //    $("#GiftRegistryImageSuccess").css('display', 'block');
                    //    $("#GiftRegistryImageSuccess").html('Image Uploaded Successfully!');
                    //}
                }
            });
        }
        else {
            if (section == "6") {
                $("#MainSliderImageErr").css('display', 'block');
                $("#MainSliderImageErr").html('Please select .jpg Image only!');
            }
            else if (section == "0couple") {
                $("#coupleImageErr").css('display', 'block');
                $("#coupleImageErr").html('Please select .jpg Image only!');
            }
            else if (section == "1") {
                $("#OurMemoriesErr").css('display', 'block');
                $("#OurMemoriesErr").html('Please select .jpg Image only!');
            }
            else if (section == "4") {
                $("#BridesmaidsImagesErr").css('display', 'block');
                $("#BridesmaidsImagesErr").html('Please select .jpg Image only!');
            }
            else if (section == "5") {
                $("#GroomsmensImagesErr").css('display', 'block');
                $("#GroomsmensImagesErr").html('Please select .jpg Image only!');
            } else if (section == "0gift") {
                $("#GiftRegistryImageErr").css('display', 'block');
                $("#GiftRegistryImageErr").html('Please select .jpg Image only!');
            }
        }
    }
</script>
