@model sakinawedsjuzar.Models.CommonInfoModel
<div class="contact-inf">
    <h5 class="subtitle">About us</h5>
    @*<span class="couple_title">Sakina &amp; Juzar</span>*@
    <p class="description">
        @Model.AboutUs
    </p>
    @*<ul class="social-icons">
        <li><a title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a title="Instagram" href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a title="Dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a title="Tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
    </ul>*@
</div>