<div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="funfact text-center mb-sm-30">
                            <h2 class="animate-number" data-animation-duration="2000" data-value="1200">0</h2>
                            <div class="line"></div>
                            <h4 class="title">Guests</h4>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="funfact text-center mb-sm-30">
                            <h2 class="animate-number" data-animation-duration="2000" data-value="900">0</h2>
                            <div class="line"></div>
                            <h4 class="title">Attend</h4>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="funfact text-center mb-sm-30">
                            <h2 class="animate-number" data-animation-duration="2000" data-value="19">0</h2>
                            <div class="line"></div>
                            <h4 class="title">Actresses</h4>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="funfact text-center mb-sm-30">
                            <h2 class="animate-number" data-animation-duration="2000" data-value="25">0</h2>
                            <div class="line"></div>
                            <h4 class="title">Actors</h4>
                        </div>
                    </div>
                </div>
            </div>