@model sakinawedsjuzar.Models.MasterModel

<div class="gift-registries" style="background: url(@Model.CommonInfo.GiftRegistryImageUrl); background-attachment: fixed; background-position: 50% -36.65px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center" data-scroll-reveal="enter top move 25px, after 0.3s">
                            <h1 class="section-title title_wh" data-scroll-reveal="enter bottom move 15px, after 0.2s">Gift Registries</h1>
                            <h4 data-scroll-reveal="enter top move 25px, after 0.3s">@Model.CommonInfo.GiftRegistryContent
                                </h4>
                            <hr class="gift_reg_hr" data-scroll-reveal="enter bottom move 15px, after 0.2s" />
                           
                        </div>
                    </div>
                </div>
            </div>